### Config

In [1]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame({"a" : list(range(1,4)), "b" : list(range(4,7)), "c" : list(range(7,10))})
df2 = pd.DataFrame({"d" : list(range(1,4)), "e" : list(range(13,16)), "f" : list(range(16,19))})

### Define Function

In [2]:
def create_result(x, y, return_string, join_string, join_method = "inner"):
    """
    Given dataframes <x> and <y>, join on and return fields denoted in <return_string> and <join_string>
    Args:
        x : pandas dataframe
        y : pandas dataframe
        return_string: denotes columns to return from each dataframe
            i.e. "X.<column name 1>|X.<column name 2> ... <Y.column name n>"
        join_string: denotes columns from <x> and <y> to join on
            i.e. "X.<column 1>=Y.<column 1>"
        join_method: populates the 'how' argument in pandas.merge
    """
    return_x_cols = [s.split(".")[1] for s in return_string.split("|") if s.split(".")[0].lower() == "x"]
    return_y_cols = [s.split(".")[1] for s in return_string.split("|") if s.split(".")[0].lower() == "y"]
    
    join_on_x = [s.split(".")[1] for s in join_string.split("=") if "x." in s.lower()]
    join_on_y = [s.split(".")[1] for s in join_string.split("=") if "y." in s.lower()]

    x_sub = x[list(set(return_x_cols + join_on_x))]
    y_sub = y[list(set(return_y_cols + join_on_y))]
    xy = pd.merge(x, y, left_on = join_on_x[0], right_on = join_on_y[0], how = join_method)
    return xy[return_x_cols + return_y_cols]

### Execute Function

In [3]:
df1

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [4]:
df2

   d   e   f
0  1  13  16
1  2  14  17
2  3  15  18

In [5]:
create_result(x = df1, y = df2, return_string = "X.a|X.b|X.c|Y.e", join_string = "X.a=Y.d")

   a  b  c   e
0  1  4  7  13
1  2  5  8  14
2  3  6  9  15